
*{
  margin: 0;
  padding: 0;
}
.navbar{
  font-family: 'Cabin', sans-serif;
  color: #222222;
}

.logo{
  font-size: 40px;
  font-weight: 600;
  color: #75BA48;
  font-family: 'Cabin', sans-serif;
}
.Personal{
  font-family: 'Cabin', sans-serif;
  color: #222222;
  font-size: 20px;
}
.price{
  color: #75BA48;
}
.Viewbtn{
  margin-left: auto;
  margin-right: auto;
}
.footer{

  background-color: #F8F8F8
}
.foot-heading{
  font-size: 18px;
  font-weight: 600;
  color: #222222;
  font-family: 'Cabin', sans-serif;
}
.foot-para{
  color: #222222;
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
}
.copyright{
  color: rgba(92, 92, 92, 0.8);
  font-family: 'Cabin', sans-serif;
  font-size: 13px;
}
